@charset "UTF-8";
/* Project repository
*  https://github.com/ne0x/netminoicons */
/* FONT PATH*/
@font-face {
  font-family: 'NetminoIcons';
  src: url("../fonts/netminoicons-webfont.eot?v=1.0.2");
  src: url("../fonts/netminoicons-webfont.eot?#iefix&v=1.0.2") format("embedded-opentype"), url("../fonts/netminoicons-webfont.woff2?v=1.0.2") format("woff2"), url("../fonts/netminoicons-webfont.woff?v=1.0.2") format("woff"), url("../fonts/netminoicons-webfont.ttf?v=1.0.2") format("truetype"), url("../fonts/netminoicons-webfont.svg?v=1.0.2#NetminoIcons") format("svg");
  font-weight: normal;
  font-style: normal; }
.ni {
  display: inline-block;
  font: normal normal normal 14px/1 NetminoIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ni-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.ni-2x {
  font-size: 2em; }

.ni-3x {
  font-size: 3em; }

.ni-4x {
  font-size: 4em; }

.ni-5x {
  font-size: 5em; }

.ni-fw {
  width: 1.28571em;
  text-align: center; }

.ni-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .ni-ul > li {
    position: relative; }

.ni-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .ni-li.ni-lg {
    left: -1.85714em; }

.ni-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.ni-pull-left {
  float: left; }

.ni-pull-right {
  float: right; }

.ni.ni-pull-left {
  margin-right: .3em; }
.ni.ni-pull-right {
  margin-left: .3em; }

.ni-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.ni-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.ni-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.ni-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.ni-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .ni-rotate-90,
:root .ni-rotate-180,
:root .ni-rotate-270,
:root .ni-flip-horizontal,
:root .ni-flip-vertical {
  filter: none; }

.ni-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.ni-stack-1x, .ni-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.ni-stack-1x {
  line-height: inherit; }

.ni-stack-2x {
  font-size: 2em; }

.ni-inverse {
  color: #fff; }

.ni-asterisk:before {
  content: ""; }

.ni-users:before {
  content: ""; }

.ni-user-plus:before {
  content: ""; }

.ni-plus:before {
  content: ""; }

.ni-th-large:before {
  content: ""; }

.ni-phone:before {
  content: ""; }

.ni-calendar:before {
  content: ""; }

.ni-copy:before {
  content: ""; }

.ni-lock:before {
  content: ""; }

.ni-unlock:before {
  content: ""; }

.ni-eye:before {
  content: ""; }

.ni-caret-down:before {
  content: ""; }

.ni-caret-up:before {
  content: ""; }

.ni-caret-left:before {
  content: ""; }

.ni-caret-right:before {
  content: ""; }

.ni-th:before {
  content: ""; }

.ni-t:before {
  content: ""; }

.ni-close:before {
  content: ""; }

.ni-angle-up:before {
  content: ""; }

.ni-angle-down:before {
  content: ""; }

.ni-twitter:before {
  content: ""; }

.ni-square:before {
  content: ""; }

.ni-clock:before {
  content: ""; }

.ni-align-left:before {
  content: ""; }

.ni-pulse:before {
  content: ""; }

.ni-pencil:before {
  content: ""; }

.ni-plus-square:before {
  content: ""; }

.ni-navicon:before {
  content: ""; }

.ni-facebook:before {
  content: ""; }

.ni-link:before {
  content: ""; }

.ni-check-square:before {
  content: ""; }

.ni-microphone:before {
  content: ""; }

.ni-list:before {
  content: ""; }

.ni-netmino:before {
  content: ""; }

.ni-tag:before {
  content: ""; }

.ni-bin:before {
  content: ""; }

.ni-eye-slash:before {
  content: ""; }

.ni-square-arrow:before {
  content: ""; }

.ni-square-chart:before {
  content: ""; }

.ni-plus-circle:before {
  content: ""; }

.ni-list-check:before {
  content: ""; }

.ni-check:before {
  content: ""; }

.ni-location:before {
  content: ""; }

.ni-calendar-d:before {
  content: ""; }

.ni-sheet-plus:before {
  content: ""; }

.ni-bell:before {
  content: ""; }

.ni-msg:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/*# sourceMappingURL=netmino-icons.css.map */
