// Icons

.#{$ni-css-prefix}-asterisk:before { content: $ni-var-asterisk; }
.#{$ni-css-prefix}-users:before { content: $ni-var-users; }
.#{$ni-css-prefix}-user-plus:before { content: $ni-var-user-plus; }
.#{$ni-css-prefix}-plus:before { content: $ni-var-plus; }
.#{$ni-css-prefix}-th-large:before { content: $ni-var-th-large; }
.#{$ni-css-prefix}-phone:before { content: $ni-var-phone; }
.#{$ni-css-prefix}-calendar:before { content: $ni-var-calendar; }
.#{$ni-css-prefix}-copy:before { content: $ni-var-copy; }
.#{$ni-css-prefix}-lock:before { content: $ni-var-lock; }
.#{$ni-css-prefix}-unlock:before { content: $ni-var-unlock; }
.#{$ni-css-prefix}-eye:before { content: $ni-var-eye; }
.#{$ni-css-prefix}-caret-down:before { content: $ni-var-caret-down; }
.#{$ni-css-prefix}-caret-up:before { content: $ni-var-caret-up; }
.#{$ni-css-prefix}-caret-left:before { content: $ni-var-caret-left; }
.#{$ni-css-prefix}-caret-right:before { content: $ni-var-caret-right; }
.#{$ni-css-prefix}-th:before { content: $ni-var-th; }
.#{$ni-css-prefix}-t:before { content: $ni-var-t; }
.#{$ni-css-prefix}-close:before { content: $ni-var-close; }
.#{$ni-css-prefix}-angle-up:before { content: $ni-var-angle-up; }
.#{$ni-css-prefix}-angle-down:before { content: $ni-var-angle-down; }
.#{$ni-css-prefix}-twitter:before { content: $ni-var-twitter; }
.#{$ni-css-prefix}-square:before { content: $ni-var-square; }
.#{$ni-css-prefix}-clock:before { content: $ni-var-clock; }
.#{$ni-css-prefix}-align-left:before { content: $ni-var-align-left; }
.#{$ni-css-prefix}-pulse:before { content: $ni-var-pulse; }
.#{$ni-css-prefix}-pencil:before { content: $ni-var-pencil; }
.#{$ni-css-prefix}-plus-square:before { content: $ni-var-plus-square; }
.#{$ni-css-prefix}-navicon:before { content: $ni-var-navicon; }
.#{$ni-css-prefix}-facebook:before { content: $ni-var-facebook; }
.#{$ni-css-prefix}-link:before { content: $ni-var-link; }
.#{$ni-css-prefix}-check-square:before { content: $ni-var-check-square; }
.#{$ni-css-prefix}-microphone:before { content: $ni-var-microphone; }
.#{$ni-css-prefix}-list:before { content: $ni-var-list; }
.#{$ni-css-prefix}-netmino:before { content: $ni-var-netmino; }
.#{$ni-css-prefix}-tag:before { content: $ni-var-tag; }
.#{$ni-css-prefix}-bin:before { content: $ni-var-bin; }
.#{$ni-css-prefix}-eye-slash:before { content: $ni-var-eye-slash; }
.#{$ni-css-prefix}-square-arrow:before { content: $ni-var-square-arrow; }
.#{$ni-css-prefix}-square-chart:before { content: $ni-var-square-chart; }
.#{$ni-css-prefix}-plus-circle:before { content: $ni-var-plus-circle; }
.#{$ni-css-prefix}-list-check:before { content: $ni-var-list-check; }
.#{$ni-css-prefix}-check:before { content: $ni-var-check; }
.#{$ni-css-prefix}-location:before { content: $ni-var-location; }
.#{$ni-css-prefix}-calendar-d:before { content: $ni-var-calendar-d; }
.#{$ni-css-prefix}-sheet-plus:before { content: $ni-var-sheet-plus; }
.#{$ni-css-prefix}-bell:before { content: $ni-var-bell; }
.#{$ni-css-prefix}-msg:before { content: $ni-var-msg; }
.#{$ni-css-prefix}-info:before { content: $ni-var-info; }
.#{$ni-css-prefix}-user-lines:before { content: $ni-var-user-lines; }
.#{$ni-css-prefix}-out:before { content: $ni-var-out; }
.#{$ni-css-prefix}-megaphone:before { content: $ni-var-megaphone; }
.#{$ni-css-prefix}-logout:before { content: $ni-var-logout; }