/* FONT PATH*/

@font-face {
  font-family: 'NetminoIcons';
  src: url('#{$ni-font-path}/netminoicons-webfont.eot?v=#{$ni-version}');
  src: url('#{$ni-font-path}/netminoicons-webfont.eot?#iefix&v=#{$ni-version}') format('embedded-opentype'),
  url('#{$ni-font-path}/netminoicons-webfont.woff2?v=#{$ni-version}') format('woff2'),
  url('#{$ni-font-path}/netminoicons-webfont.woff?v=#{$ni-version}') format('woff'),
  url('#{$ni-font-path}/netminoicons-webfont.ttf?v=#{$ni-version}') format('truetype'),
  url('#{$ni-font-path}/netminoicons-webfont.svg?v=#{$ni-version}#NetminoIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
