// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts" !default; // for referencing Bootstrap CDN font files directly
$ni-css-prefix:       ni !default;
$fa-version:          "4.6.3+" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;


$fa-var-asterisk: "\f069";
$fa-var-users: "\f000";
$fa-var-user-plus: "\f001";
$fa-var-plus: "\f002";
$fa-var-th-large: "\f003";
$fa-var-phone: "\f004";
$fa-var-envelope: "\f005";
$fa-var-calendar: "\f006";
$fa-var-copy: "\f007";
$fa-var-lock: "\f008";
$fa-var-unlock: "\f009";
$fa-var-eye: "\f00A";
$fa-var-caret-down: "\f00B";
$fa-var-caret-up: "\f00C";
$fa-var-caret-left: "\f00D";
$fa-var-caret-right: "\f00E";
$fa-var-th: "\f010";
$fa-var-t: "\f011";
$fa-var-close: "\f012";
$fa-var-angle-up: "\f013";
$fa-var-angle-down: "\f014";
$fa-var-twitter: "\f015";
$fa-var-square: "\f016";
$fa-var-clock: "\f017";
$fa-var-align-left: "\f018";
$fa-var-pulse: "\f019";
$fa-var-pencil: "\f01A";
$fa-var-plus-square: "\f01B";
$fa-var-navicon: "\f01C";
$fa-var-facebook: "\f01D";
$fa-var-link: "\f01E";
$fa-var-check-square: "\f021";
$fa-var-microphone: "\f022";
$fa-var-list: "\f023";
$fa-var-netmino: "\f024";
$fa-var-tag: "\f025";
$fa-var-bin: "\f026";
$fa-var-eye-slash: "\f027";
$fa-var-square-arrow: "\f028";
$fa-var-square-chart: "\f029";
$fa-var-plus-circle: "\f02A";
$fa-var-list-check: "\f02B";
$fa-var-check: "\f02C";