// Variables

$ni-font-path:        "../fonts" !default;
$ni-font-size-base:   14px !default;
$ni-line-height-base: 1 !default;
$ni-css-prefix:       ni !default;
$ni-version:          "1.0.1" !default;
$ni-border-color:     #eee !default;
$ni-inverse:          #fff !default;
$ni-li-width:         (30em / 14) !default;


$ni-var-asterisk: "\f069";
$ni-var-users: "\f000";
$ni-var-user-plus: "\f001";
$ni-var-plus: "\f002";
$ni-var-th-large: "\f003";
$ni-var-phone: "\f004";
$ni-var-envelope: "\f005";
$ni-var-calendar: "\f006";
$ni-var-copy: "\f007";
$ni-var-lock: "\f008";
$ni-var-unlock: "\f009";
$ni-var-eye: "\f00A";
$ni-var-caret-down: "\f00B";
$ni-var-caret-up: "\f00C";
$ni-var-caret-left: "\f00D";
$ni-var-caret-right: "\f00E";
$ni-var-th: "\f010";
$ni-var-t: "\f011";
$ni-var-close: "\f012";
$ni-var-angle-up: "\f013";
$ni-var-angle-down: "\f014";
$ni-var-twitter: "\f015";
$ni-var-square: "\f016";
$ni-var-clock: "\f017";
$ni-var-align-left: "\f018";
$ni-var-pulse: "\f019";
$ni-var-pencil: "\f01A";
$ni-var-plus-square: "\f01B";
$ni-var-navicon: "\f01C";
$ni-var-facebook: "\f01D";
$ni-var-link: "\f01E";
$ni-var-check-square: "\f021";
$ni-var-microphone: "\f022";
$ni-var-list: "\f023";
$ni-var-netmino: "\f024";
$ni-var-tag: "\f025";
$ni-var-bin: "\f026";
$ni-var-eye-slash: "\f027";
$ni-var-square-arrow: "\f028";
$ni-var-square-chart: "\f029";
$ni-var-plus-circle: "\f02A";
$ni-var-list-check: "\f02B";
$ni-var-check: "\f02C";