@font-face {
  font-family: 'NetminoIcons';
  src: url('NetminoIcons.eot');
  src: url('NetminoIcons.woff2') format('woff2'),
       url('NetminoIcons.woff') format('woff'),
       url('NetminoIcons.ttf') format('truetype'),
       url('NetminoIcons.svg#NetminoIcons') format('svg'),
       url('NetminoIcons.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

